<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 sec:authorize="!isAuthenticated()" class="display-4">Muy buenas, visitante</h1>
        <h1 sec:authorize="isAuthenticated()" class="display-4">Muy buenas, <span sec:authentication="name"></span></h1>
        <p class="lead">Bienvenido a nuestro sistema</p>
        <hr class="my-4">


    </div>
</div>
<footer th:insert="fragments.html::footer"></footer>
</body>
</html>